@charset "UTF-8";
.add_icon::before{
    color: #009100;
    font-weight: bold;
    font-size: 3em;
    content: '\0271A';
}
.delete_icon::before{
    color: #e92935;
    font-weight: bold;
    font-size: 3em;
    content: '\02716';
}

.check_icon::before{
    color: #23ed10;
    font-weight: bold;
    font-size: 3em;
    content: '\02714';
}

.edit_icon::before{
    color: #f1ee21;
    font-weight: bold;
    font-size: 3em;
    content: '\0270E';
}

.ban_icon::before{
    color: #bd0000;
    font-weight: bold;
    font-size: 3em;
    content: '\02B59';
}

.stop_icon::before{
    color: #bd0000;
    font-weight: bold;
    font-size: 3em;
    content: '\270B';
}

.save_icon::before{
    color: #658bfb;
    font-weight: bold;
    font-size: 3em;
    content: '\1F5AA';
}

.icon-size-3em{
    font-size: 3em;
}
.disable_icon::before{
    color: #c8c7c7 !important;
}
